<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.billydev.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.billydev.entity.User">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="email" property="email" />
	</resultMap>

	<parameterMap id="name" type="com.billydev.entity.User"/>

	<sql id="Base_Column_List">
		id,name, email
	</sql>

	<select id="getUser" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from usertable
		<where>
			<if test=" userName.equals('billy')">
				and name = 'billytest'
			</if>
			<if test=" userName.equals('billy2')">
				and name = 'billytest2'
			</if>
		</where>
	</select>

</mapper>
